choice
       prompt "select"
       depends on BUILD_VAL_ETH
       default BUILD_VAL_ETH01
       help
         select the test module

config BUILD_VAL_ETH01
       bool "build validation eth01"
       depends on BUILD_VAL_ETH
       help
         select the eth driver validation

endchoice
